<!-- {%load static%} -->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- <link type="text/css" rel="stylesheet" media="all" href="{%static 'css/main.css'%}"> -->
<link type="text/css" rel="stylesheet" media="all" href="{%static 'css/layout.css'%}">
<!-- <script src="{%static 'www/js/jquery-1.6.2.js'%}"></script> -->
<title>TRENOVKR</title>

</head>
<body>
    <!-- 产品图片及价格信息 -->
    <div>
        <!-- 产品图片 -->
        <div></div>
        <!-- 价格信息 -->
        <div>
            <!-- 标题 -->
            <div>
                <h1></h1>
            </div>
            <!-- 价格 -->
            <div>
                <span></span>
            </div>
            <!-- 简介 -->
            <div>
                <p></p>
            </div>
        </div>
    </div>

    <!-- A+描述 -->
    <div></div>

    <!-- 保养及维护 -->
    <div></div>
</body>
</html>